body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f8f8;
}

p {
    font-size: 16px;
    color: #333;
}

code {
    font-weight: bold;
    color: #d35400;
}

select {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
}

.deleteButton {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 12px;
}

.deleteButton:hover {
    background-color: #af3b2e;
}

.addToppingButton {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 12px;
    margin-left: 30px;
}

.addToppingButton:hover {
    background-color: #27ae60;
}

#order, #runStats, #outputStats, #outputOrder {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 40vw;
    margin: 20px;
    margin-left: 0px;
}

.singleStatBox {
    background-color: rgb(227, 227, 227);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}

.statHeader {
    display: flex;
    flex-direction: row;
}

.statResult {
    font-size: 16px;
    color: #2c3e50;
}

.statGroup {
    margin-top: 10px;
    background-color: #daf3ff;
    padding: 10px;
    border-radius: 8px;
}

h1 {
    font-size: 36px;
    color: #2c3e50;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    color: #2c3e50;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    font-size: 16px;
    color: #2c3e50;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1d5d87;
}

input {
    display: block;
    margin: 5px;
}

#statsContainer, #orderContainer {
    display: flex;
    flex-direction: row;
}

#statsContainer {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
}

#outputStats, #outputOrder {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.topping {
    margin-left: 30px;
}